/* set the font for the text view in the scrolling window */
textview.view {
     font: 16px "Andale Mono";
     color: #FFFF00;
}

/* set the font and colour for the text entry field */
entry {
     font: 16px "DejaVu Sans";
     color: #FFFF00;
}
